@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,300,700,400");

* {
    box-sizing: border-box;
}

.montserrat-bold-rose-pearl-24px {
    color: var(--rose-pearl);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-light-mountain-mist-14px {
    color: var(--mountain-mist);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-normal-white-13px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-white-14px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.privacypolicy {
    background-color: white;
    height: 100vh;
    margin: 0px;
    position: relative;
    width: 100%;
    overflow:hidden;
}

.privacypolicy .about-IlweIA {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.privacypolicy .about-qv0Ulj {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    min-height: 18px;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.privacypolicy .bar {
    background-color: transparent;
    height: 40px;
    margin-left: -0px;
    margin-right: 0px;
    position: absolute;
    top: 29px;
    width: 94px;
}

.privacypolicy .contact {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.privacypolicy .copyright--51-2021-al {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.privacypolicy .faq {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.footer-items {
    width: fit-content !important;
    display: inline-flex !important;
    position: relative;
    margin-left: 16px !important;
}

.footer-items-devider {
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.privacypolicy .footer {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: absolute;
    width: 1748px;
}

.privacypolicy .fypsoundslogo-NOXmfT {
    background-color: transparent;
    background-size: 100% 100%;
    height: 40px;
    left: 245px;
    position: absolute;
    top: 359px;
    width: 94px;
}

.privacypolicy .fypsoundslogo-iPe1yZ {
    background-color: transparent;
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.privacypolicy .group {
    background-color: transparent;
    height: 452px;
    margin-left: 96px;
    margin-right: -96px;
    position: absolute;
    top: -330px;
    width: 776px;
}

.privacypolicy .group-5 {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}
.privacypolicy .policy-wrapper{
    position: absolute;
    width: 100%;max-width: 288px;
    margin-top: 200px;
    overflow: hidden;
    height: 350px;
     overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.privacypolicy .policy-container{
    position: relative;
    width: 100%;
    padding: 1rem 0;
     font-family: "Montserrat", Helvetica, Arial, serif;
    font-style: normal
}
.privacypolicy .policy-container > h3,
.privacypolicy .policy-container > h4{
    color: #222;
    font-size: 12px;font-weight: 400;
}
.privacypolicy .lorem-ipsum-dolor-si {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 17px;
    margin-left: 1px;
    margin-right: -1px;
    text-align: justify;
    top: 179px;
    width: 288px;
    text-align: left;
    font-size: 10px;
    line-height: 12px;
    color: #333;
    color: var(--mountain-mist);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 20px;
}
.privacypolicy .lorem-ipsum-dolor-si span{
    padding-top: 5px;color: #333;
}
.privacypolicy .oval-4K0abD {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.privacypolicy .oval-E582nk {
    background-color: transparent;
    height: 242px;
    left: 0px;
    position: absolute;
    top: 210px;
    width: 775px;
}

.privacypolicy .oval-NOXmfT {
    background-color: transparent;
    height: 410px;
    left: 15px;
    position: absolute;
    top: 0px;
    width: 592px;
}

.privacypolicy .overlap-group {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.privacypolicy .privacy-policy-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 29px;
    position: absolute;
    text-align: left;
    top: 108px;
    white-space: nowrap;
    width: auto;
}

.privacypolicy .privacy-policy-IlweIA {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.privacypolicy .x {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

:root {
    --mountain-mist: rgba(151, 151, 151, 1);
    --rose-pearl: rgba(245, 55, 124, 1);
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

a {
    text-decoration: none;
    display: contents;
}

@media only screen and (max-width: 320px) {
    .privacypolicy .policy-wrapper{
        margin-top: 150px;
        width: 258px;
        height: 300px;
    }
    .privacypolicy .policy-container > h3,
    .privacypolicy .policy-container > h4{
        color: #222;
        font-size: 10px;font-weight: 300;
        line-height: 1;
    }
    .privacypolicy .lorem-ipsum-dolor-si {
        font-size: 9px;font-weight: 200;
        line-height: 1;
    }
    .privacypolicy{
        height: 674px;
    }
}