@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,600,500,300");

@font-face {
    font-family: "SofiaPro-Bold";
    font-weight: 1 1000;
    src: url("../../assets/fonts/Sofia Pro Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.animate-enter {
    animation: animate-enter-frames 0.5s ease-in-out 0.2s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: scale(1.1);
}

.animate-enter1 {
    animation: animate-enter1-frames 0.5s ease-in-out 0.2s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: scale(1.1);
}

.animate-enter2 {
    animation: animate-enter2-frames 0.5s ease-in-out 0.2s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: scale(1.1);
}

.montserrat-light-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-semi-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sofiapro-normal-white-30px {
    color: white;
    font-family: "SofiaPro-Bold", Helvetica, Arial, serif;
    font-size: 30px;
}

.soundform1b {
    background-color: var(--anakiwa);
    height: 100vh;
    margin: 0px;
    overflow:hidden;
    position: relative;
    width: 100%;
}
.soundform1b .ownership{
    position: absolute;width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;
    top: 15%;
}
.soundform1b .btn-wrapper{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    top:320px;
    width:fit-content;
    display:flex;
    justify-content:space-between;
}
.soundform1b .btn-wrapper > div {
    margin : 0 0.5rem;
}
.soundform1b .are-you-the-owner-of {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    position: relative;
    text-align: center;
    width: 100%;
}

.soundform1b .fypsoundslogo {
    background-color: transparent;
    background-size: 100% 100%;
    height: 40px;
    position: absolute;
    top: 29px;
    width: 94px;
}

.soundform1b .is-this-content-expl {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 260px;
    white-space: nowrap;
    width: 328px;
}

.soundform1b .nexticon-copy-1 {
    background-color: transparent;
    display: block;
    height: 41px;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    width: 146px;
}

.soundform1b .nexticon-copy-3 {
    background-color: transparent;
    display: block;
    height: 41px;
    text-align: center;
    pointer-events: auto;
    position: absolute;
    top: 210px;
    transition: all 0.2s ease-in-out;
    width: fit-content;
}

.soundform1b .nexticon-copy-2 {
    background-color: transparent;
    display: block;
    height: 41px;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
    width: 146px;
}

.soundform1b .nexticon-copy-:hover {
    transform: scale(1.1);
}

.soundform1b .nexticon-copy-:hover {
    transform: scale(1.1);
}

.soundform1b .no {
    background-color: transparent;
    height: auto;
    left: 27px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
    width: 102px;
}

.soundform1b .oval-4eduM0 {
    background-color: transparent;
    height: 603px;
    left: 38px;
    position: absolute;
    top: 349px;
    width: 968px;
}

.soundform1b .oval-6sb1qn {
    background-color: transparent;
    height: 746px;
    left: 38px;
    position: absolute;
    top: 539px;
    width: 1343px;
}

.soundform1b .oval-BJQsbv {
    background-color: transparent;
    height: 722px;
    left: 58px;
    position: absolute;
    top: 0px;
    width: 1043px;
}

.soundform1b .oval-ovOecM {
    background-color: transparent;
    height: 649px;
    left: 0px;
    position: absolute;
    top: 690px;
    width: 1240px;
}

.soundform1b .overlap-group-C61RwL {
    background-color: transparent;
    height: 1339px;
    left: -315px;
    position: absolute;
    top: -371px;
    width: 1381px;
}

.soundform1b .rectangle {
    background-color: transparent;
    height: 41px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 146px;
}

.soundform1b .rectangle-ViqXFw {
    background-color: transparent;
    height: 31px;
    left: 17px;
    position: absolute;
    top: 9px;
    width: 112px;
}

.soundform1b .yes-17Ixfr {
    background-color: transparent;
    height: auto;
    left: 27px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
    width: 88px;
}

.soundform1b .yes-YdXrBc {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

:root {
    --anakiwa: rgba(145, 255, 251, 1);
}

@keyframes animate-enter-frames {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate-enter1-frames {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate-enter2-frames {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}
@media only screen and (max-width: 320px) {
    .soundform1b .fypsoundslogo{
        top: 75px
    }
    .soundform1b .are-you-the-owner-of,.soundform1b .is-this-content-expl{
        font-size: 24px;
        line-height: 24px;
    }
    .soundform1b .ownership{
        top: 25%
    }
    .soundform1b .is-this-content-expl{
        top: 250px
    }
    .soundform1b .btn-wrapper{
        top: 300px
    }
}