/* screen - faq */

.applecoloremoji-normal-granite-gray-30px {
    color: var(--granite-gray);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    font-size: 30px;
}

.border-class-1 {
    border: 1px solid rgba(150, 150, 150, 1.0);
}

.faq {
    background-color: var(--white);
    height: 100vh;
    margin: 0px;
    min-height: 896px;
    min-width: 414px;
    position: relative;
    width: 100%;
}

.faq .about-IlweIA {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.faq .about-qv0Ulj {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    min-height: 18px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.faq .bar-C61RwL {
    background-color: transparent;
    height: 40px;
    margin-left: -0px;
    margin-right: 0px;
    position: fixed;
    top: 29px;
    width: 94px;
}

.faq .contact-IlweIA {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.faq .copyright--51-2021-al-iPe1yZ {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.faq .faq-IlweIA {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.faq .footer-C61RwL {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: fixed;
    width: 1748px;
}

.faq .fypsoundslogo-NOXmfT {
    background-color: transparent;
    background-image: url(../../assets/img/terms-fypcopy-4ACB0B03-1969-4D09-9F0F-4CEA607FD053@2x.png);
    background-size: 100% 100%;
    height: 40px;
    left: 245px;
    position: absolute;
    top: 359px;
    width: 94px;
}

.faq .fypsoundslogo-iPe1yZ {
    background-color: transparent;
    background-image: url(../../assets/img/earnings-fypcopy-1E23A663-EBC4-4EED-89E7-2AB7DC03ADF7@2x.png);
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.faq .group-5-4K0abD {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.faq .group-C61RwL {
    background-color: transparent;
    height: 452px;
    margin-left: 96px;
    margin-right: -96px;
    position: fixed;
    top: -333px;
    width: 776px;
}

.faq .lorem-ipsu--si-copy-2-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 17px;
    position: fixed;
    text-align: justify;
    top: 403px;
    width: 288px;
}

.faq .lorem-ipsu--si-copy-3-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 17px;
    position: fixed;
    text-align: justify;
    top: 532px;
    width: 288px;
}

.faq .lorem-ipsu-or-si-copy-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 17px;
    position: fixed;
    text-align: justify;
    top: 274px;
    width: 288px;
}

.faq .lorem-ipsum-dolor-si-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 17px;
    position: fixed;
    text-align: justify;
    top: 149px;
    width: 288px;
}

.faq .oval-4K0abD {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.faq .oval-E582nk {
    background-color: transparent;
    height: 242px;
    left: 0px;
    position: absolute;
    top: 210px;
    width: 775px;
}

.faq .oval-NOXmfT {
    background-color: transparent;
    height: 410px;
    left: 15px;
    position: absolute;
    top: 0px;
    width: 592px;
}

.faq .overlap-group-iPe1yZ {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.faq .privacy-policy-IlweIA {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.faq .question-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 29px;
    margin-left: -1px;
    margin-right: 1px;
    position: fixed;
    text-align: left;
    top: 113px;
    white-space: nowrap;
    width: auto;
}

.faq .question-QxM5SU {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 29px;
    margin-left: -1px;
    margin-right: 1px;
    position: fixed;
    text-align: left;
    top: 496px;
    white-space: nowrap;
    width: auto;
}

.faq .question-VMr6Om {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 29px;
    margin-left: -1px;
    margin-right: 1px;
    position: fixed;
    text-align: left;
    top: 238px;
    white-space: nowrap;
    width: auto;
}

.faq .question-mzXdH9 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 29px;
    margin-left: -1px;
    margin-right: 1px;
    position: fixed;
    text-align: left;
    top: 367px;
    white-space: nowrap;
    width: auto;
}

.faq .x-IlweIA {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.faq .overlap-group9-iPe1yZ {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.faq .oval-iFLr8c {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.faq .group-5-iFLr8c {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.faq .x-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.faq .about-pHGZZ8 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.faq .about-tmGEPR {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    min-height: 18px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.faq .faq-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.faq .contact-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.faq .privacy-policy-pHGZZ8 {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.montserrat-bold-rose-pearl-24px {
    color: var(--rose-pearl);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-light-gravel-14px {
    color: var(--gravel);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-mountain-mist-14px {
    color: var(--mountain-mist);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-normal-white-13px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-white-14px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-20px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sfprodisplay-regular-normal-granite-gray-20px {
    color: var(--granite-gray);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 20px;
}

.sfprodisplay-regular-normal-pink-swan-15px {
    color: var(--pink-swan);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 15px;
}

.sofiapro-normal-white-30px {
    color: var(--white);
    font-family: "SofiaPro-Bold", Helvetica, Arial, serif;
    font-size: 30px;
}

:root {
    --anakiwa: rgba(145, 255, 251, 1.0);
    --black: rgba(0, 0, 0, 1.0);
    --bright-turquoise: rgba(0, 242, 234, 1.0);
    --granite-gray: rgba(102, 102, 102, 1.0);
    --gravel: rgba(74, 73, 74, 1.0);
    --mountain-mist: rgba(151, 151, 151, 1.0);
    --mountain-mist-2: rgba(153, 153, 153, 1.0);
    --pink-swan: rgba(186, 186, 186, 1.0);
    --rose-pearl: rgba(245, 55, 124, 1.0);
    --torch-red: rgba(255, 0, 80, 1.0);
    --white: rgba(255, 255, 255, 1.0);
}