/* screen - contact */

.applecoloremoji-normal-granite-gray-30px {
    color: var(--granite-gray);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    font-size: 30px;
}

.border-class-1 {
    border: 1px solid rgba(150, 150, 150, 1.0);
}

.contact {
    background-color: var(--white);
    height: 100vh;
    margin: 0px;
    min-height: 896px;
    min-width: 414px;
    position: relative;
    width: 100%;
}

.contact .about-e9FaNd {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.contact .about-x2vL0s {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    min-height: 18px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.contact .bar-C61RwL {
    background-color: transparent;
    height: 40px;
    margin-left: -0px;
    margin-right: 0px;
    position: fixed;
    top: 29px;
    width: 94px;
}

.contact .contact-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 29px;
    position: fixed;
    text-align: left;
    top: 108px;
    white-space: nowrap;
    width: auto;
}

.contact .contact-e9FaNd {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.contact .copyright--51-2021-al-iPe1yZ {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.contact .faq-e9FaNd {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.contact .footer-C61RwL {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: fixed;
    width: 1748px;
}

.contact .fypsoundslogo-NOXmfT {
    background-color: transparent;
    background-image: url(../../assets/img/terms-fypcopy-4ACB0B03-1969-4D09-9F0F-4CEA607FD053@2x.png);
    background-size: 100% 100%;
    height: 40px;
    left: 245px;
    position: absolute;
    top: 359px;
    width: 94px;
}

.contact .fypsoundslogo-iPe1yZ {
    background-color: transparent;
    background-image: url(../../assets/img/earnings-fypcopy-1E23A663-EBC4-4EED-89E7-2AB7DC03ADF7@2x.png);
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.contact .group-5-FuOxjK {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.contact .group-C61RwL {
    background-color: transparent;
    height: 452px;
    margin-left: 96px;
    margin-right: -96px;
    position: fixed;
    top: -333px;
    width: 776px;
}

.contact .nexticon-copy-C61RwL {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    min-height: 100%;
    position: fixed;
    top: 175px;
    width: 311px;
}

.contact .or-shoot-us-an-email-C61RwL {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 14px;
    position: fixed;
    text-align: center;
    top: 500px;
    width: 354px;
}

.contact .oval-E582nk {
    background-color: transparent;
    height: 242px;
    left: 0px;
    position: absolute;
    top: 210px;
    width: 775px;
}

.contact .oval-FuOxjK {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.contact .oval-NOXmfT {
    background-color: transparent;
    height: 410px;
    left: 15px;
    position: absolute;
    top: 0px;
    width: 592px;
}

.contact .overlap-group-q2VZwF {
    background-color: transparent;
    flex-shrink: 0;
    height: 33px;
    margin-top: 13px;
    position: relative;
    width: 311px;
}

.contact .overlap-group1-q2VZwF {
    background-color: transparent;
    flex-shrink: 0;
    height: 33px;
    position: relative;
    width: 311px;
}

.contact .overlap-group2-q2VZwF {
    background-color: transparent;
    flex-shrink: 0;
    height: 142px;
    margin-top: 17px;
    position: relative;
    width: 311px;
}

.contact .overlap-group3-q2VZwF {
    background-color: transparent;
    flex-shrink: 0;
    height: 54px;
    margin-right: 1.0px;
    margin-top: 18px;
    position: relative;
    width: 192px;
}

.contact .overlap-group4-iPe1yZ {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.contact .privacy-policy-e9FaNd {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.contact .rectangle-ZtaLEy {
    background-color: transparent;
    height: 33px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 311px;
}

.contact .rectangle-c5djvB {
    background-color: transparent;
    height: 54px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 192px;
}

.contact .rectangle-copy-2-c5djvB {
    background-color: transparent;
    height: 54px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 192px;
}

.contact .rectangle-copy-Vg8Dgr {
    background-color: transparent;
    height: 33px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 311px;
}

.contact .rectangle-zlebQ8 {
    background-color: var(--white);
    border-radius: 27px;
    height: 142px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 311px;
}

.contact .send-c5djvB {
    background-color: transparent;
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 70px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.contact .span1-YPZk8k {
    line-height: 17px;
}

.contact .span2-YPZk8k {
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.contact .text-email-ZtaLEy {
    background-color: transparent;
    border: 0;
    height: 30px;
    left: 12px;
    letter-spacing: 0.00px;
    line-height: 17px;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
    top: 2px;
    width: 288px;
}

.contact .text-email-ZtaLEy::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.contact .text-name-Vg8Dgr {
    background-color: transparent;
    border: 0;
    height: 30px;
    left: 12px;
    letter-spacing: 0.00px;
    line-height: 17px;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
    top: 2px;
    width: 288px;
}

.contact .text-name-Vg8Dgr::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.contact .text-type-here-zlebQ8 {
    background-color: transparent;
    border: 0;
    height: 122px;
    left: 12px;
    letter-spacing: 0.00px;
    line-height: 17px;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
    top: 10px;
    width: 288px;
}

.contact .text-type-here-zlebQ8::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.contact .x-e9FaNd {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.montserrat-bold-rose-pearl-24px {
    color: var(--rose-pearl);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-light-gravel-14px {
    color: var(--gravel);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-mountain-mist-14px {
    color: var(--mountain-mist);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-normal-white-13px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-white-14px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-20px {
    color: var(--white);
    font-family: 'Montserrat', Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sfprodisplay-regular-normal-granite-gray-20px {
    color: var(--granite-gray);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 20px;
}

.sfprodisplay-regular-normal-pink-swan-15px {
    color: var(--pink-swan);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 15px;
}

.sofiapro-normal-white-30px {
    color: var(--white);
    font-family: "SofiaPro-Bold", Helvetica, Arial, serif;
    font-size: 30px;
}

.contact .overlap-group9-iPe1yZ {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.contact .oval-iFLr8c {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.contact .group-5-iFLr8c {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.contact .x-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.contact .about-pHGZZ8 {
    align-items: flex-start;
    background-color: transparent;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.contact .about-tmGEPR {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    min-height: 18px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.contact .faq-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.contact .contact-pHGZZ8 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0.00px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.contact .privacy-policy-pHGZZ8 {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0.00px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

:root {
    --anakiwa: rgba(145, 255, 251, 1.0);
    --black: rgba(0, 0, 0, 1.0);
    --bright-turquoise: rgba(0, 242, 234, 1.0);
    --granite-gray: rgba(102, 102, 102, 1.0);
    --gravel: rgba(74, 73, 74, 1.0);
    --mountain-mist: rgba(151, 151, 151, 1.0);
    --mountain-mist-2: rgba(153, 153, 153, 1.0);
    --pink-swan: rgba(186, 186, 186, 1.0);
    --rose-pearl: rgba(245, 55, 124, 1.0);
    --torch-red: rgba(255, 0, 80, 1.0);
    --white: rgba(255, 255, 255, 1.0);
}