@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,300,700");

@font-face {
    font-family: "SFProDisplay-Regular";
    font-weight: 1 1000;
    src: url("../../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

.montserrat-bold-gravel-14px {
    color: var(--gravel);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-bold-rose-pearl-24px {
    color: var(--rose-pearl);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-light-gravel-14px {
    color: var(--gravel);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-red-14px {
    color: red;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-semi-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.password {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    overflow:hidden;
}

.password .field-wrapper{
    position: absolute;display: flex;align-items: center;justify-content: center;width: 100%;max-width: 300px;
    flex-direction: column;
    top: 10%;
}
.password .back-chevron {
    background-color: transparent;
    flex-shrink: 0;
    height: 20px;
    width: 11px;
}

.password .back-icon {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 21px;
    justify-content: flex-start;
    min-width: 12px;
    width: auto;
}

.password .clear-cache-copy {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 60px;
    margin-top: 1.5rem;
    width: 100%;
}


.password .didnu2019t-ceive-clic {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 14px;
    position: fixed;
    text-align: center;
    top: 523px;
    width: 250px;
}

.password .incorrect-code-che {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 17px;
    position: fixed;
    text-align: center;
    top: 495px;
    width: 250px;
}

.password .nexticon {
    align-items: center;
    background-color: transparent;
    background-size: 100% 100%;
    display: inline-flex;
    flex-direction: row;
    height: 54px;
    justify-content: center;
    min-width: 192px;
    padding: 0 72px;
    position: absolute;
    top: 50%;
    width: auto;
}

.password .old-password_ {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.12px;
    line-height: 24px;
    min-height: 24px;
    text-align: left;
    white-space: nowrap;
    width: 156px;
}

.password .password {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 29px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 85%;
}

.password .password-must-includ {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 8px;
    min-height: 113px;
    text-align: left;
    width: 241px;
}

.password .password-policy {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid var(--mountain-mist);
    border-radius: 20px;
    display: inline-flex;
    flex-direction: row;
    height: 134px;
    justify-content: flex-end;
    min-width: 256px;
    padding: 6px 7px;
    position: fixed;
    top: 263px;
    width: auto;
}

.password .save {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    min-height: 24px;
    min-width: 57px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.password .span1-LBLLyx {
    line-height: 17px;
}

.password .span1-RxjuOq {
    line-height: 18px;
}

.password .span2-LBLLyx {
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}

.password .span2-RxjuOq {
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: 10px;
}

.password .span3-RxjuOq {
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.password .text {
    background-color: transparent;
    border: 0;
    flex-shrink: 0;
    height: 30px;
    letter-spacing: -0.09px;
    line-height: 18px;
    padding: 0;
    resize: none;
    text-align: right;
    width: fit-content;
}

.password .text::placeholder {
    color: rgba(186, 186, 186, 0.6);
}

.password .text::placeholder {
    color: rgba(186, 186, 186, 0.6);
}

.password .text::placeholder {
    color: rgba(186, 186, 186, 0.6);
}

.password .top-bar {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 21px;
    justify-content: space-between;
    /*margin-right: 175px;*/
    min-width: 300px;
    position: absolute;
    width: auto;
    cursor:pointer;
    top: 5%;
}

.sfprodisplay-regular-normal-granite-gray-20px {
    color: var(--granite-gray);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 20px;
}

.sfprodisplay-regular-normal-pink-swan-15px {
    color: var(--pink-swan);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 15px;
}

:root {
    --granite-gray: rgba(102, 102, 102, 1);
    --gravel: rgba(74, 73, 74, 1);
    --mountain-mist: rgba(150, 150, 150, 1);
    --pink-swan: rgba(186, 186, 186, 1);
    --rose-pearl: rgba(245, 55, 124, 1);
    --white: rgba(255, 255, 255, 0.9);
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

a {
    text-decoration: none;
    display: contents;
}
