@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600,500,400,700");

@font-face {
    font-family: "SofiaPro-Bold";
    font-weight: 1 1000;
    src: url("../../assets/fonts/Sofia Pro Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.montserrat-light-mountain-mist-20px {
    color: var(--mountain-mist);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}


.montserrat-light-red-14px {
    color: red;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-semi-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.musicform3 {
    background-color: var(--anakiwa);
    height: 100vh;
    position: relative;
    width: 100vw;
    overflow:hidden;
}
.musicform3 .musicform2-wrapper{
    position:absolute;
    top:0;
    height:100%;
    left:50%;
    transform:translateX(-50%);
    width:415px;
    display: flex;justify-content: center;
}
.musicform3 .publish-sec, 
.musicform3 .ownership{
    position: absolute;display: flex;align-items: center;justify-content: center;width: 100%;
    flex-direction: column;
}
.musicform3 .publish-sec{
    top: 20%;
}
.musicform3 .ownership{
    top: 10%;
}

.musicform3 .all-stores {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    min-height: 24px;
    text-align: center;
    white-space: nowrap;
    width: 102px;
}

.musicform3 .are-you-the-owner-of {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 1;
    position: relative;
    text-align: center;
    width: 269px;
}

.musicform3 .fypsoundslogo {
    background-color: transparent;
    background-size: 100% 100%;
    height: 40px;
    left: 160px;
    position: absolute;
    top: 29px;
    width: 94px;
}

.musicform3 .next {
    background-color: transparent;
    height: auto;
    left: 72px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.musicform3 .nexticon {
    background-color: transparent;
    height: 54px;
    left: 111px;
    position: absolute;
    top: 50%;
    width: 192px;
}

.musicform3 .nexticon-copy-2 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 156px;
    min-width: 102px;
    position: absolute;
    top: 220px;
    width: auto;
}

.musicform3 .nexticon-copy-3 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    left: 105px;
    min-width: 205px;
    position: absolute;
    top:30%;
    width: auto;
}

.musicform3 .error-message {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 50px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}
.musicform3 .nexticon-copy-5 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: center;
    left: 161px;
    min-width: 88px;
    position: absolute;
    top: 150px;
    width: auto;
}

.musicform3 .nexticon-copy-6 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    left: 105px;
    min-width: 205px;
    position: absolute;
    top: 40%;
    width: auto;
}

.musicform3 .nexticon-copy-7 {
    align-items: flex-end;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    left: 86px;
    min-width: 243px;
    position: absolute;
    top: 420px;
    width: auto;
}

.musicform3 .nexticon-copy-8 {
    top: 500px;
}

.musicform3 .or-name {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    min-height: 42px;
    text-align: center;
    white-space: nowrap;
    width: 189px;
}

.musicform3 .text-field {
    background-color: white;
    border-radius: 24px;
    height: 41px;
    top: 40px;
    width: 292px;
}

.musicform3 .oval-C61RwL {
    background-color: transparent;
    height: 603px;
    left: -277px;
    position: fixed;
    top: -22px;
    width: 968px;
}

.musicform3 .oval-QxM5SU {
    background-color: transparent;
    height: 649px;
    left: -315px;
    position: fixed;
    top: 319px;
    width: 1240px;
}

.musicform3 .oval-VMr6Om {
    background-color: transparent;
    height: 722px;
    left: -257px;
    position: fixed;
    top: -371px;
    width: 1043px;
}

.musicform3 .oval-mzXdH9 {
    background-color: transparent;
    height: 746px;
    left: -277px;
    position: fixed;
    top: 168px;
    width: 1343px;
}

.musicform3 .producer-name {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    min-height: 49px;
    text-align: center;
    white-space: nowrap;
    width: 227px;
}

.musicform3 .publish-audio-to {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 42px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 226px;
}

.musicform3 .rectangle-C61RwL {
    background-color: transparent;
    height: 41px;
    left: 60px;
    position: absolute;
    top: 420px;
    width: 294px;
}

.musicform3 .rectangle-VMr6Om {
    background-color: transparent;
    height: 41px;
    left: 60px;
    position: absolute;
    top: 535px;
    width: 294px;
}

.musicform3 .rectangle-copy {
    background-color: transparent;
    height: 41px;
    left: 60px;
    position: absolute;
    top: 743px;
    width: 294px;
}

.musicform3 .rectangle-mzXdH9 {
    background-color: transparent;
    height: 41px;
    left: 60px;
    position: absolute;
    top: 643px;
    width: 294px;
}

.musicform3 .rectangle-rGr1Cp {
    background-color: transparent;
    height: 41px;
    left: 23px;
    position: absolute;
    top: 11px;
    width: 147px;
}

.musicform3 .rectangle-xd37is {
    background-color: transparent;
    height: 54px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 192px;
}

.musicform3 .text- {
    border: 0;
    letter-spacing: 0px;
    line-height: 24px;
    outline: none;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
}

.musicform3 .text-1 {
    border: 0;
    letter-spacing: 0px;
    line-height: 24px;
    outline: none;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
    top: 40px;
}

.musicform3 .text-::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.musicform3 .text-::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.musicform3 .text-::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.musicform3 .text-::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.musicform3 .yes {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    min-height: 24px;
    text-align: center;
    white-space: nowrap;
    width: 88px;
}

.sofiapro-normal-white-30px {
    color: white;
    font-family: "SofiaPro-Bold", Helvetica, Arial, serif;
    font-size: 30px;
}

:root {
    --anakiwa: rgba(145, 255, 251, 1);
    --mountain-mist: rgba(151, 151, 151, 1);
}

a {
    text-decoration: none;
    display: contents;
}
@media only screen and (max-width: 600px) {
    .musicform3 .ownership {
        top: 15%;
    }

    .musicform3 .publish-sec {
        top: 30%;
    }

    .musicform3 .nexticon-copy-3 {
        top: 40%;
    }
    .musicform3 .nexticon-copy-6 {
        top: 55%;
    }
    .musicform3 .nexticon {
        top: 75%;
    }
}
@media only screen and (max-width: 320px) {
    .musicform3 .nexticon{
        top: 85%
    }
    .musicform3 .nexticon-copy-6{
        top: 65%
    }
    .musicform3 .or-name{
        font-size: 24px
    }
    .musicform3 .nexticon-copy-3{
        top: 50%
    }
    .musicform3 .publish-sec{
        top: 37%
    }
    .musicform3 .ownership{
        top: 20%
    }
    .musicform3 .fypsoundslogo{
        top: 10%
    }
    .musicform3 .are-you-the-owner-of,
    .musicform3 .publish-audio-to{
        font-size: 24px
    }
}