@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400,300,600");

@font-face {
    font-family: "SofiaPro-Bold";
    font-weight: 1 1000;
    src: url("../../assets/fonts/Sofia Pro Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

.border-class-1 {
    border: 1px solid var(--mountain-mist-2);
}

.login {
    background-color: white;
    height: 100vh;
    margin: 0px;
    min-height: 896px;
    min-width: 414px;
    position: relative;
    width: 100%;
}

.login .about-7pmZoB {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.login .about-rVE2UT {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    min-height: 18px;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.login .bar {
    background-color: transparent;
    height: 40px;
    margin-left: -0px;
    margin-right: 0px;
    position: fixed;
    top: 29px;
    width: 94px;
}

.login .contact {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.login .copyright--51-2021-al {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.login .faq {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.login .footer {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: fixed;
    width: 1748px;
}

.login .forgot-your-access {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 14px;
    position: fixed;
    text-align: center;
    top: 500px;
    width: 321px;
}

.login .fypsoundslogo-NOXmfT {
    background-color: transparent;
    background-size: 100% 100%;
    height: 40px;
    left: 245px;
    position: absolute;
    top: 359px;
    width: 94px;
}

.login .fypsoundslogo-iPe1yZ {
    background-color: transparent;
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.login .group {
    background-color: transparent;
    height: 452px;
    margin-left: 96px;
    margin-right: -96px;
    position: fixed;
    top: -333px;
    width: 776px;
}

.login .group-5 {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.footer-items {
    width: fit-content !important;
    display: inline-flex !important;
    position: relative;
    margin-left: 16px !important;
}

.footer-items-devider {
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.login .join {
    background-color: transparent;
    height: auto;
    left: 75px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.login .login {
    background-color: transparent;
    height: auto;
    left: 69px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.login .nexticon-C61RwL {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: -0px;
    position: fixed;
    top: 119px;
    width: 311px;
}

.login .nexticon-VMr6Om {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    position: fixed;
    top: 323px;
    width: 311px;
}

.login .or {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 279px;
    white-space: nowrap;
    width: auto;
}

.login .oval-E582nk {
    background-color: transparent;
    height: 242px;
    left: 0px;
    position: absolute;
    top: 210px;
    width: 775px;
}

.login .oval-NOXmfT {
    background-color: transparent;
    height: 410px;
    left: 15px;
    position: absolute;
    top: 0px;
    width: 592px;
}

.login .oval-ipjwHu {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.login .overlap-group {
    background-color: transparent;
    flex-shrink: 0;
    height: 33px;
    position: relative;
    width: 311px;
}

.login .overlap-group-CzwooT {
    background-color: transparent;
    flex-shrink: 0;
    height: 54px;
    margin-right: 1px;
    margin-top: 18px;
    position: relative;
    width: 192px;
}

.login .overlap-group1 {
    background-color: transparent;
    flex-shrink: 0;
    height: 33px;
    margin-top: 24px;
    position: relative;
    width: 311px;
}

.login .overlap-group6 {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.login .privacy-policy {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.login .rectangle-3cn1mj {
    background-color: white;
    border-radius: 16.5px;
    height: 33px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 311px;
}

.login .rectangle-NaDWhO {
    background-color: transparent;
    height: 33px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 311px;
}

.login .rectangle-zF71vY {
    background-color: transparent;
    height: 54px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 192px;
}

.login .span1-VhPCr0 {
    line-height: 17px;
}

.login .span2-VhPCr0 {
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.login .text {
    background-color: transparent;
    border: 0;
    height: 30px;
    left: 12px;
    letter-spacing: 0px;
    line-height: 17px;
    outline: none;
    padding: 0;
    position: absolute;
    resize: none;
    text-align: center;
    top: 2px;
    width: 288px;
}

.login .text::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.login .text::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.login .text::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.login .text::placeholder {
    color: rgba(151, 151, 151, 0.6);
}

.login .x {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.montserrat-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.montserrat-light-gravel-14px {
    color: var(--gravel);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-light-mountain-mist-14px {
    color: var(--mountain-mist);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.montserrat-normal-white-13px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-white-14px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.sofiapro-normal-torch-red-25px {
    color: var(--torch-red);
    font-family: "SofiaPro-Bold", Helvetica, Arial, serif;
    font-size: 25px;
}

:root {
    --gravel: rgba(74, 73, 74, 1);
    --mountain-mist: rgba(151, 151, 151, 1);
    --mountain-mist-2: rgba(150, 150, 150, 1);
    --torch-red: rgba(255, 0, 80, 1);
}

.login .an-email-is-require {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 17px;
    min-height: 17px;
    text-align: center;
    white-space: nowrap;
    width: 309px;
}

.login .a-password-is-requi {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 17px;
    min-height: 17px;
    text-align: center;
    white-space: nowrap;
    width: 309px;
}

.montserrat-light-red-14px {
    color: red;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

a {
    text-decoration: none;
    display: contents;
}
