@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,600,400");

@font-face {
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: 1 1000;
    src: url("https://fonts.animaapp.com/SFProDisplay-Regular") format("opentype");
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    font-style: normal;
    font-weight: 1 1000;
    src: url("https://fonts.animaapp.com/SFProDisplay-Semibold") format("opentype");
}

* {
    box-sizing: border-box;
}

.animate-enter {
    animation: animate-enter-frames 0.5s ease-in-out 0.2s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: scale(1.1);
}

.applecoloremoji-normal-granite-gray-30px {
    color: var(--granite-gray);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    font-size: 30px;
}

.montserrat-normal-white-13px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-violet-red-25px {
    color: var(--violet-red);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-14px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sfprodisplay-normal-black-15px {
    color: black;
    font-family: "SFProDisplay-Semibold", Helvetica, Arial, serif;
    font-size: 15px;
}

.sfprodisplay-regular-normal-mountain-mist-15px {
    color: var(--mountain-mist);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 15px;
}

.soundsnewuser {
    background-color: white;
    height: 100vh;
    margin: 0px;
    min-height: 896px;
    min-width: 414px;
    position: relative;
    width: 100%;
}

.soundsnewuser .container {
    width: 100%;
}

.soundsnewuser .about-IlweIA {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.soundsnewuser .about-qv0Ulj {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    min-height: 18px;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.soundsnewuser .buttons {
    background-color: transparent;
    height: 73px;
    margin-left: 3px;
    margin-right: -3px;
    position: fixed;
    top: 119px;
    width: auto;
}

.soundsnewuser .nav-item {
    width: 33%;
}

.soundsnewuser .sound-wrap .sound-inner-wrap{
 margin-right: 14px;
 left: auto;
 top: auto;
}

.soundsnewuser .sound-wrap{
    margin: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
   }

.soundsnewuser .contact {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.soundsnewuser .copyright--51-2021-al {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.soundsnewuser .earnings-Gt7Q7B {
    background-color: transparent;
    flex-shrink: 0;
    height: 73px;
    margin-left: 17px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 54px;
}

.soundsnewuser .earnings-Gt7Q7B:hover {
    transform: scale(1.1);
}

.soundsnewuser .earnings-pxqN5N {
    background-color: transparent;
    height: auto;
    left: -1px;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .faq {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.footer-items {
    width: fit-content !important;
    display: inline-flex !important;
    position: relative;
    margin-left: 16px !important;
}

.footer-items-devider {
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.soundsnewuser .footer {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: fixed;
    width: 1748px;
}

.soundsnewuser .fypsoundslogo {
    background-color: transparent;
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.soundsnewuser .group {
    background-color: transparent;
    height: 244px;
    margin-left: 28px;
    margin-right: -28px;
    position: fixed;
    top: -114px;
    width: 1322px;
}

.soundsnewuser .group-5 {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.soundsnewuser .new-sound {
    background-color: transparent;
    height: auto;
    left: 32px;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .new-sound-button {
    background-color: transparent;
    bottom: 135px;
    display: block;
    height: 54px;
    pointer-events: auto;
    position: fixed;
    transition: all 0.2s ease-in-out;
    width: 192px;
    opacity: 0;
    transform: scale(1.1);
}

.soundsnewuser .new-sound-button:hover {
    transform: scale(1.1);
}

.soundsnewuser .oval {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.soundsnewuser .oval-5 {
    background-color: transparent;
    height: 114px;
    left: 577px;
    position: absolute;
    top: 129px;
    width: 114px;
}

.soundsnewuser .overlap-group {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.soundsnewuser .path {
    background-color: transparent;
    height: 12px;
    left: 22px;
    position: absolute;
    top: 18px;
    width: 10px;
}

.soundsnewuser .dropzone {
    background-color: transparent;
    display: none;
    height: 100px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 30px;
}

.soundsnewuser .path-3 {
    background-color: transparent;
    height: 241px;
    left: 127px;
    position: absolute;
    top: 0px;
    width: 1195px;
}

.soundsnewuser .path-3-copy {
    background-color: transparent;
    height: 242px;
    left: 0px;
    position: absolute;
    top: 1px;
    width: 1205px;
}

.soundsnewuser .privacy-policy {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.soundsnewuser .rectangle {
    background-color: transparent;
    height: 54px;
    left: 0px;
    opacity: 0.85;
    position: absolute;
    top: 0px;
    width: 192px;
}

.soundsnewuser .rectangle-10 {
    background-color: white;
    height: 30px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 30px;
}

.soundsnewuser .rectangle-3 {
    background-color: var(--bright-turquoise);
    border-radius: 2px;
    flex-shrink: 0;
    height: 4px;
    margin-right: 1px;
    margin-top: 10px;
    width: 40px;
}

.soundsnewuser .settingiconwhite-NOXmfT {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
    left: 788px;
    min-width: 30px;
    position: absolute;
    top: 137px;
    width: auto;
}

.soundsnewuser .settingiconwhite-u3qPnF {
    background-color: transparent;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    width: 30px;
}

.soundsnewuser .shape-nrx20a {
    background-color: transparent;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 22px;
}

.soundsnewuser .shape-uBeRw7 {
    background-color: transparent;
    height: 28px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 32px;
}

.soundsnewuser .shape-vFHiyd {
    background-color: transparent;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 8px;
}

.soundsnewuser .sound-5 {
    background-color: transparent;
    height: 90px;
    left: 23px;
    pointer-events: auto;
    position: fixed;
    top: 356px;
    transition: all 0.2s ease-in-out;
    width: 222px;
}

.soundsnewuser .sound-5-copy {
    background-color: transparent;
    height: 114px;
    left: 23px;
    pointer-events: auto;
    position: fixed;
    top: 232px;
    transition: all 0.2s ease-in-out;
    width: 368px;
}

.soundsnewuser .sound-5-copy:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-5:hover {
    transform: scale(1.1);
}

.soundsnewuser .sounds-EiSkUu {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.09px;
    line-height: 18px;
    margin-right: 0.09px;
    margin-top: 2px;
    min-height: 18px;
    min-width: 61px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .sounds-Gt7Q7B {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: flex-start;
    min-height: 73px;
}

.soundsnewuser .sound-1 {
    background-size: 100% 100%;
    border-radius: 6px;
    height: 110px;
    left: 0px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease-in-out;
    width: 110px;
}

.soundsnewuser .sound-1:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-2 {
    background-size: 100% 100%;
    border-radius: 6px;
    height: 108px;
    left: 108px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease-in-out;
    width: 110px;
}

.soundsnewuser .sound-2:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-3 {
    background-size: 100% 100%;
    border-radius: 6px;
    height: 106px;
    left: 216px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    top: 0px;
    transition: all 0.2s ease-in-out;
    width: 110px;
}

.soundsnewuser .sound-3:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-4 {
    background-size: 100% 100%;
    border-radius: 6px;
    height: 108px;
    left: 0px;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    top: 109px;
    transition: all 0.2s ease-in-out;
    width: 110px;
}

.soundsnewuser .sound-4:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-5 {
    background-size: 100% 100%;
    border-radius: 6px;
    height: 108px;
    left: 108px;
    pointer-events: auto;
    position: absolute;
    top: 109px;
    transition: all 0.2s ease-in-out;
    width: 110px;
}

.soundsnewuser .sound-5:hover {
    transform: scale(1.1);
}

.soundsnewuser .sound-6 {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 6px;
    height: 90px;
    left: 228px;
    pointer-events: auto;
    position: absolute;
    top: 113px;
    transition: all 0.2s ease-in-out;
    width: 94px;
}

.soundsnewuser .sound-6:hover {
    transform: scale(1.1);
}

.soundsnewuser .shape-1 {
    height: 17px;
    left: 87px;
    position: absolute;
    top: 6px;
    width: 17px;
}

.soundsnewuser .overlap-group3 {
    height: 245px;
    margin-top: 9px;
    position: relative;
    width: 368px;
}

.soundsnewuser .span1-SsBuiu {
    line-height: 30px;
}

.soundsnewuser .span2-SsBuiu {
    color: rgba(255, 0, 80, 1);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    line-height: 33px;
}

.soundsnewuser .trends-45jQMT {
    background-color: transparent;
    height: auto;
    left: -1px;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .trends-Gt7Q7B {
    background-color: transparent;
    flex-shrink: 0;
    height: 59px;
    margin-left: 24px;
    min-height: 73px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 40px;
}

.soundsnewuser .trends-Gt7Q7B:hover {
    transform: scale(1.1);
}

.soundsnewuser .ud83cudfb5 {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 39px;
    margin-right: 1.19px;
    min-height: 39px;
    min-width: 42px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .ud83dudcb0 {
    background-color: transparent;
    height: auto;
    left: 9px;
    letter-spacing: -0.19px;
    line-height: 39px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .ud83dudd25 {
    background-color: transparent;
    height: auto;
    left: 2px;
    letter-spacing: -0.19px;
    line-height: 39px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .upload {
    background-color: transparent;
    height: 30px;
    left: 618px;
    pointer-events: auto;
    position: absolute;
    top: 162px;
    transition: all 0.2s ease-in-out;
    width: 32px;
}

.soundsnewuser .upload-your-first-so {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 25px;
    position: fixed;
    text-align: center;
    top: 261px;
    width: 212px;
}

.soundsnewuser .upload:hover {
    transform: scale(1.1);
}

.soundsnewuser .x {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

:root {
    --bright-turquoise: rgba(0, 242, 234, 1);
    --granite-gray: rgba(102, 102, 102, 1);
    --mountain-mist: rgba(153, 153, 153, 1);
    --violet-red: rgba(247, 61, 138, 1);
}

@keyframes animate-enter-frames {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}
