@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,600,400");

@font-face {
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: 1 1000;
    src: url("https://fonts.animaapp.com/SFProDisplay-Regular") format("opentype");
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    font-style: normal;
    font-weight: 1 1000;
    src: url("https://fonts.animaapp.com/SFProDisplay-Semibold") format("opentype");
}

* {
    box-sizing: border-box;
}

.animate-enter {
    animation: animate-enter-frames 0.5s ease-in-out 0.2s 1 normal forwards;
    display: block;
    opacity: 0;
    transform: scale(1.1);
}

.applecoloremoji-normal-granite-gray-30px {
    color: var(--granite-gray);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    font-size: 30px;
}

.montserrat-normal-white-13px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.montserrat-semi-bold-violet-red-25px {
    color: var(--violet-red);
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-14px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.montserrat-semi-bold-white-20px {
    color: white;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sfprodisplay-normal-black-15px {
    color: black;
    font-family: "SFProDisplay-Semibold", Helvetica, Arial, serif;
    font-size: 15px;
}

.sfprodisplay-regular-normal-mountain-mist-15px {
    color: var(--mountain-mist);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 15px;
}

.soundsnewuser {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height:100vh;
    justify-content: center;
    padding: 16px 22px;
    width: 100%;
    overflow:hidden;
}

.soundsnewuser .profile-pic{
    position: absolute;
    top: 129px;
    height: 100px;width: 100px;
    overflow: hidden;
    border-radius : 50%;
}
.soundsnewuser .container {
    width: 350px;
    padding:0;
    margin: 0;
    height:100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}
.soundsnewuser .list{
    height: 100%;
    position: absolute;
    width: 100%;
}
.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.soundsnewuser .about-IlweIA {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 18px;
    justify-content: flex-start;
    margin-left: -137px;
    margin-right: 137px;
    min-width: 66px;
    position: absolute;
    top: 0px;
    width: auto;
}

.soundsnewuser .about-qv0Ulj {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    min-height: 18px;
    text-align: left;
    white-space: nowrap;
    width: 66px;
}

.soundsnewuser .buttons {
    background-color: transparent;
    height: 73px;
    position: fixed;
    top: 119px;
    width:calc((100vw / 2) + 5rem);
}

.soundsnewuser .nav-item {
    width: 33%;
}
.soundsnewuser .nav-item::after{
    position: absolute;
    content: "";
    left:50%;
    transform: translateX(-50%);
    height: 4px;width: 50%;
    bottom: 20%;
    background-color: var(--bright-turquoise);
    border-radius: 1rem;
    opacity: 0;
    margin-top: 10px;
}
.soundsnewuser .nav-item.active::after{
    opacity: 1;
}
.soundsnewuser .nav-item.active > a > div > div {
    font-weight: 900;
    color: #000;
}
.soundsnewuser .sound-wrap .sound-inner-wrap{
 
 left: auto;
 top: auto;
}

.soundsnewuser .sound-wrap{
    position: relative;
    min-height: 100px;
    width:100%;
   }
   .soundsnewuser .sound-wrap > div{
    position: absolute;
    height:100%;
    width:100%;
    background-position:center;
    background-size: cover;
    margin: 0;
    border-radius: .5rem;
    transition: transform 0.2s ease-in-out;
    z-index: inherit;
   }

.soundsnewuser .contact {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: 23px;
    margin-right: -23px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.soundsnewuser .copyright--51-2021-al {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 131px;
    white-space: nowrap;
    width: 372px;
}

.soundsnewuser .earnings-Gt7Q7B {
    background-color: transparent;
    flex-shrink: 0;
    height: 73px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 54px;
}


.soundsnewuser .earnings-pxqN5N {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .faq {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -66px;
    margin-right: 66px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 73px;
}

.footer-items {
    width: fit-content !important;
    display: inline-flex !important;
    position: relative;
    margin-left: 16px !important;
}

.footer-items-devider {
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.soundsnewuser .footer {
    background-color: transparent;
    bottom: -136px;
    height: 296px;
    position: fixed;
    width: 1748px;
}

.soundsnewuser .fypsoundslogo {
    background-color: transparent;
    background-size: 100% 100%;
    height: 24px;
    position: absolute;
    top: 53px;
    width: 57px;
}

.soundsnewuser .group {
    background-color: transparent;
    height: 244px;
    position: fixed;
    top: -114px;
    left:0;
    width: 100%;
    min-width:100vw;
    display:flex;
    justify-content:center;
}

.soundsnewuser .group-5 {
    background-color: transparent;
    height: 18px;
    left: 692px;
    position: absolute;
    top: 90px;
    width: 362px;
}

.soundsnewuser .new-sound 
 {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 100%;
}

.soundsnewuser .request-button {
    background-color: transparent;
    bottom: 50px;
    display: block;
    height: 54px;
    pointer-events: auto;
    position: fixed;
    transition: all 0.2s ease-in-out;
    width: 192px;
    opacity: 0;
    transform: scale(1.1);
    z-index: 9;
    cursor: pointer;
}
.soundsnewuser .new-sound-button ,
.soundsnewuser .trends-button{
    background-color:transparent;
    display: block;
    height: 54px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 192px;
    opacity: 0;
    transform: scale(1.1);
    z-index:9;
    cursor:pointer;
    margin-top: 1rem;
}
.soundsnewuser .trends-button{
    width: 250px;
}


.soundsnewuser .oval {
    background-color: transparent;
    height: 295px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1747px;
}

.soundsnewuser .oval-5 {
    background-color: transparent;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 75px;
}

.soundsnewuser .overlap-group {
    background-color: transparent;
    height: 295px;
    left: 1px;
    position: absolute;
    top: 0px;
    width: 1747px;

}

.soundsnewuser .path {
    background-color: transparent;
    height: 12px;
    left: 22px;
    position: absolute;
    top: 18px;
    width: 10px;
}

.soundsnewuser .dropzone {
    background-color: transparent;
    display: none;
    height: 100px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 30px;
}
.soundsnewuser .group-images-wrapper{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:244px;
    display: flex;
    justify-content:center;
}

.soundsnewuser .group >  label > div {
    position: absolute;top: 0;z-index: 99;
}

.soundsnewuser .path-3 {
    background-color: transparent;
    height: 241px;
    position: absolute;
    top: 0px;
    width: 1195px;
}

.soundsnewuser .path-3-copy {
    background-color: transparent;
    height: 242px;
    position: absolute;
    top: 1px;
    width: 1205px;
}

.soundsnewuser .privacy-policy {
    background-color: transparent;
    height: auto;
    left: 262px;
    letter-spacing: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 100px;
}

.soundsnewuser .rectangle {
    background-color: transparent;
    height: 54px;
    left: 0px;
    opacity: 0.85;
    position: absolute;
    top: 0px;
    width: 192px;
}
.soundsnewuser .row {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(300px + 1.25rem);
    display:grid;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    margin: 0 !important;
    grid-gap: .25rem;

}
.soundsnewuser .row::before , .soundsnewuser .row::after{
    display:none;
}
.soundsnewuser .rectangle1 {
    height: 54px;
    left: 0px;
    opacity: 0.85;
    position: absolute;
    top: 0px;
    width: 192px;
    z-index: -1;
}

.soundsnewuser .rectangle-10 {
    background-color: white;
    height: 30px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 30px;
}

.soundsnewuser .rectangle-3 {
    background-color: var(--bright-turquoise);
    border-radius: 2px;
    flex-shrink: 0;
    height: 4px;
    margin-right: 1px;
    margin-top: 10px;
    width: 40px;
}

.soundsnewuser .rectangle-4 {
    background-color: var(--bright-turquoise);
    border-radius: 2px;
    flex-shrink: 0;
    height: 4px;
    margin-right: 1px;
    margin-top: 10px;
    width: 40px;
}

.soundsnewuser .rectangle-5 {
    background-color: var(--bright-turquoise);
    border-radius: 2px;
    flex-shrink: 0;
    height: 4px;
    margin-right: 1px;
    margin-top: 10px;
    width: 40px;
}

.soundsnewuser .settingiconwhite-NOXmfT {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 30px;
    justify-content: flex-start;
    left: calc((100vw/2) + 9rem);
    min-width: 30px;
    position: absolute;
    top: 137px;
    width: auto;
}

.soundsnewuser .settingiconwhite-u3qPnF {
    background-color: transparent;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    width: 30px;
    cursor:pointer;
}

.soundsnewuser .shape-nrx20a {
    background-color: transparent;
    height: 22px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 22px;
}

.soundsnewuser .shape-uBeRw7 {
    background-color: transparent;
    height: 28px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 32px;
}

.soundsnewuser .shape-vFHiyd {
    background-color: transparent;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 4px;
    width: 8px;
}

.soundsnewuser .sound-5 {
    background-color: transparent;
    height: 90px;
    left: 23px;
    pointer-events: auto;
    position: fixed;
    top: 356px;
    transition: all 0.2s ease-in-out;
    width: 222px;
}

.soundsnewuser .sound-5-copy {
    background-color: transparent;
    height: 114px;
    left: 23px;
    pointer-events: auto;
    position: fixed;
    top: 232px;
    transition: all 0.2s ease-in-out;
    width: 368px;
}


.soundsnewuser .sounds-EiSkUu {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.09px;
    line-height: 18px;
    margin-right: 0.09px;
    margin-top: 2px;
    min-height: 18px;
    min-width: 61px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}



.soundsnewuser .shape-1 {
    height: 17px;
    left: calc(100% - 1.5rem);
    position: absolute;
    top: 6px;
    width: 17px;
}

.soundsnewuser .overlap-group3 {
    height: 35vw;
    margin-top: 9px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 614px;
    max-height: 450px ;
    display: flex;flex-direction: column;align-items: center;
}
@media only screen and (max-width: 600px) {
  .soundsnewuser .overlap-group3  {
    height: 300px;
  }
}
.soundsnewuser .group-3 {
    align-items:flex-start;
    background-size: 100% 100%;
    display: flex;
    height: 85%;
    width: 100%;
    margin: 0;
    max-width: 614px;
    padding: 0;
}

.soundsnewuser .group-30 {
   align-items: flex-start;
   display: flex;
   height: 100%;
   left: 0;
   width: 100%;
   position: absolute;
   top: 0px;
   flex-direction: column;align-items: center;
}

.soundsnewuser .overlap-group1 {
    height: 100%;
    position: relative;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(2,minmax(130px,1fr));
    grid-template-rows: repeat(2,1fr);
}
.soundsnewuser .overlap-group1>div:last-child{
    grid-column: 1 / span 2;
}
.soundsnewuser .songs-Ernings {
    align-items: flex-start;
    background-size: 100% 100%;
    border-radius: .5rem;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.soundsnewuser .songs-Ernings:nth-child(3) {
    grid-column: 1 / span 2;
}
.soundsnewuser .bar-chart {
    align-items: center;
    justify-content: center;
    display: flex;
    min-width: 81px;
    width: 100%;
    height:100%;
}

.soundsnewuser .span1-SsBuiu {
    line-height: 30px;
}

.soundsnewuser .span2-SsBuiu {
    color: rgba(255, 0, 80, 1);
    font-family: "AppleColorEmoji", Helvetica, Arial, serif;
    line-height: 33px;
}

.soundsnewuser .trends-45jQMT {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .trends-Gt7Q7B {
    background-color: transparent;
    flex-shrink: 0;
    height: 59px;
    margin:0 auto;
    min-height: 73px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 40px;
}

.soundsnewuser .sounds-Gt7Q7B {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: flex-start;
    min-height: 73px;
}



.soundsnewuser .ud83cudfb5 {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 39px;
    margin-right: 1.19px;
    min-height: 39px;
    min-width: 42px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .ud83dudcb0 {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 39px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .ud83dudd25 {
    background-color: transparent;
    height: auto;
    letter-spacing: -0.19px;
    line-height: 39px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .upload {
    background-color: transparent;
    height: 30px;
    pointer-events: auto;
    position: absolute;
    top: 155px;
    transition: all 0.2s ease-in-out;
    width: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.soundsnewuser .upload-your-first-so {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 25px;
    position: fixed;
    text-align: center;
    top: 261px;
    width: 212px;
}


.soundsnewuser .x {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 18px;
    margin-left: -48px;
    margin-right: 48px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.soundsnewuser .auto-flex {
    align-items: center;
    display: block;
    flex-direction: column;
    min-height: 202px;
    width: 73px;
}

.soundsnewuser .auto-flex1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 83px;
    min-height: 189px;
    width: 50px;
}

.soundsnewuser .auto-flex2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    min-height: 188px;
    width: 49px;
}

.soundsnewuser .status {
    letter-spacing: -0.09px;
    line-height: 18px;
    margin-left: 2.91px;
    min-height: 18px;
    min-width: 40px;
    text-align: center;
    white-space: nowrap;
}

.soundsnewuser .rectangle-2-copy {
    height: 36px;
    left: 0px;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    width: 73px;
}

.soundsnewuser .overlap-group-1 {
   height: 36px;
   margin-top: 0px;
   margin-bottom: -10px;
   position: relative;
   width: 73px;
   left: 20px;
}

.soundsnewuser .overlap-group-10 {
    height: 83px;
    position: relative;
    width: 81px;
}


.soundsnewuser .request {
    background-color: transparent;
    height: auto;
    letter-spacing: 0px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 100%;
}
.soundsnewuser .no-earnings{
    width: 100%;text-align: center;
}
.soundsnewuser .overlap-group4 {
    height: 54px;
    left: 0px;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;justify-content: center;
}


.soundsnewuser .paid {
    left: 25px;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
}

.soundsnewuser .borderless td,
.borderless th {
    border:none;
    
}

.soundsnewuser .ready {
    left: 21px;
    letter-spacing: -0.09px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
}

.soundsnewuser .period {
    letter-spacing: -0.09px;
    line-height: 18px;
    min-height: 18px;
    min-width: 43px;
    text-align: center;
    white-space: nowrap;
}

.soundsnewuser .price {
    letter-spacing: -0.09px;
    line-height: 18px;
    margin-left: 5px;
    margin-top: 15px;
    min-height: 18px;
    min-width: 31px;
    text-align: center;
    white-space: nowrap;
}

.soundsnewuser .date {
    letter-spacing: -0.08px;
    line-height: 14px;
    margin-left: 1px;
    margin-top: 18px;
    min-height: 14px;
    min-width: 48px;
    text-align: center;
    white-space: nowrap;
}

.soundsnewuser .amount {
    letter-spacing: -0.09px;
    line-height: 18px;
    min-height: 18px;
    min-width: 50px;
    text-align: center;
    white-space: nowrap;
}

.sfprodisplay-normal-black-15px {
    color: black;
    font-family: "SFProDisplay-Semibold", Helvetica, Arial, serif;
    font-size: 15px;
}

.sfprodisplay-regular-normal-mountain-mist-12px {
    color: var(--mountain-mist);
    font-family: "SFProDisplay-Regular", Helvetica, Arial, serif;
    font-size: 12px;
}

.sfprodisplay-italic-normal-black-15px {
    color: black;
    font-family: "SFProDisplay-Italic", Helvetica, Arial, serif;
    font-size: 15px;
}

.sfprodisplay-normal-white-15px {
    color: white;
    font-family: "SFProDisplay-Semibold", Helvetica, Arial, serif;
    font-size: 15px;
}

.montserratheading20pxsemiboldcenter-aligngray-900 {
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
}

:root {
    --bright-turquoise: rgba(0, 242, 234, 1);
    --granite-gray: rgba(102, 102, 102, 1);
    --mountain-mist: rgba(153, 153, 153, 1);
    --violet-red: rgba(247, 61, 138, 1);
}

@keyframes animate-enter-frames {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.container-center-vertical,
.container-center-horizontal {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.container-center-horizontal {
    justify-content: center;
    width: 100%;
}

.container-center-vertical>*,
.container-center-horizontal>* {
    pointer-events: auto;
    flex-shrink: 0;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
    opacity: 1;
}

.nav-tabs {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0;
}
.nav > li{
    display:flex;align-items:center;justify-content:center;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    border-bottom: 0;
}
@media only screen and (max-width: 320px) {
    .soundsnewuser .settingiconwhite-NOXmfT {
        left: calc((100vw/2) + 7rem);
    }
    .soundsnewuser .overlap-group3  {
    height: 300px;
  }
}
