html, body {
	padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
}
#root.drop{
	background: rgba(0,0,0,.25);
}
:root{
	--docHeight : 100%;
}
img{
	object-fit:cover;
	object-position:center;
	
}
::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
._loading_overlay_wrapper--active > *{
	background-color:#fff;
	filter: blur(1px);
}
._loading_overlay_wrapper--active > div{
	background-color:#fff;
	filter: blur(0px);
}
.css-1wa3eu0-placeholder,.css-1uccc91-singleValue{
	left: 60%;
	top: 40% !important;
	transform: translate(-50%,-50%) !important;
}
.css-4ljt47-MenuList{
	text-align: center;
	z-index: 5;
}
.css-26l3qy-menu{
	margin-top: 0 !important;
}
.css-tlfecz-indicatorContainer{
	padding: 4px !important;
	height: 32px !important;
	width: 32px !important;
}
.css-1okebmr-indicatorSeparator{
	display: none;
}

.css-yk16xz-control,.css-1pahdxg-control{
	min-height: 32px !important;
	height: 32px;
	border-radius : 0.35rem !important;
	border: 1px solid var(--mountain-mist-2)	!important;
}
.css-4ljt47-MenuList{
	padding-top: 0 !important;
}

@media screen and (min-width: 1400px),
screen and (min-width: 1600px),
screen and (min-width: 1900px) 
 {
  .css-yk16xz-control,.css-1pahdxg-control{
  	height: calc(32px + 1.2rem);
  }
}
.react-select-container{
	background: rgb(210,43,108);
background: linear-gradient(62deg, rgba(210,43,108,1) 0%, rgba(85,163,182,1) 100%); 
	width: 100%;
	border-radius:3rem !important;
	z-index: 10 !important;
}
.react-select__control{
	border-radius:3rem !important;
	background-color: transparent !important;
	border:none !important;
	min-height: 36px !important;
	z-index: 2 !important;
}
.react-select__value-container{
	/*background: rgb(210,43,108);
background: linear-gradient(62deg, rgba(210,43,108,1) 0%,  rgba(85,163,182,1) 100%); */
	border-radius: 2rem 0px 0px 2rem;
	justify-content: center !important;
	-webkit-flex: 1 1 50%;
    flex: 1 1 50%;
}
.react-select__indicator  > svg {
	transform:scale(1.4) !important;
	stroke : #fff !important;fill : #fff !important;
}
.react-select__indicator-seperator{
	display: none;
}
::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.react-select__single-value {
	color : #fff !important;
	position: relative !important;
	transform: translateY(0) !important;
	text-align: center !important;
	font-family: "Montserrat", Helvetica, Arial, serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
}
.react-select__menu{
	margin: 0 0 !important;
	 background: rgb(210,43,108);
background: linear-gradient(62deg, rgba(210,43,108,1) 0%, rgba(85,163,182,1) 100%); 
	top: 0 !important;
	padding:37px 0 0 0;
	border-radius:1.5rem !important;
	 scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.react-select__menu-list{
	margin: 0 !important;
	 background: rgb(210,43,108);
background: linear-gradient(62deg, rgba(210,43,108,1) 0%, rgba(85,163,182,1) 100%); 
	max-height: 350px !important;
	border-radius:1.5rem !important;
	 scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.react-select__option{
	background-color: transparent !important;
	color: #fff !important;
	text-align: center !important;
	font-family: "Montserrat", Helvetica, Arial, serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;

}
/*.container-center-horizontal{
	position: relative;
}
.reactEasyCrop_Image, .reactEasyCrop_Video{
	
}*/
input{
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus::placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.lazyload-wrapper{
	height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@media only screen and (max-width: 320px) {

	.react-select__menu-list{
		max-height: 250px !important;
	}	

}
@media (min-width:480px)  { 

/* smartphones, Android phones, landscape iPhone */ 

}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}
.reactEasyCrop_CropArea{
	color: rgba(0 , 0, 0, 0) !important;
	border-radius : 0.35rem !important;
}